<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/mexmionew/public/css/main.css">
    <script src="/javascripts/main.js"></script>
</head>
<body>
<h1>{{title}}</h1>
<div class="wrapper">
    <div class="form-wrapper">
        <p><svg width="152" height="32" viewBox="0 0 152 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M56.7288 22.5442C57.7704 20.9176 57.3075 18.8262 55.6871 17.6643C53.9509 16.6186 51.7518 17.0834 50.7101 18.71C49.6685 20.3366 50.1314 22.5442 51.7518 23.5899C53.3722 24.6356 55.5713 24.1709 56.7288 22.5442Z"
                      fill="#3782E9"/>
                <path d="M56.7287 15.573C56.6129 15.4568 55.8027 14.5273 55.9185 13.0169C56.0342 11.6226 56.9602 10.8093 57.0759 10.6931C58.5806 9.41503 60.8954 9.53122 62.1686 10.9255L65.7566 15.1083L69.4604 10.9255C70.7335 9.41503 73.0484 9.29884 74.4373 10.5769C75.9419 11.855 76.0577 14.0626 74.7845 15.573L70.502 20.3367L74.7845 25.2167C76.0577 26.6109 75.9419 28.8185 74.4373 30.0966C73.0484 31.3746 70.7335 31.2585 69.4604 29.8642L65.7566 25.6814L62.0528 29.8642C60.6639 31.2585 58.4648 31.3746 57.0759 30.0966C55.5713 28.8185 55.3398 26.6109 56.7287 25.2167L61.0112 20.3367L56.7287 15.573Z"
                      fill="#3782E9"/>
                <path d="M28.0245 9.87936C24.668 9.29841 21.4272 11.7384 19.8068 13.365C19.5753 12.7841 19.2281 11.9707 18.5336 11.3898C17.4919 10.2279 16.103 9.99554 15.5243 9.87936C12.3993 9.29841 9.38996 11.6222 7.53808 13.1326C7.3066 11.506 5.80194 10.2279 4.0658 10.2279C2.09818 10.2279 0.477783 11.8546 0.477783 13.8298V27.54C0.477783 29.5152 2.09818 31.0256 4.0658 31.0256C6.03343 31.0256 7.65382 29.5152 7.65382 27.54V19.1744C7.65382 18.8259 7.76957 17.7802 8.81125 16.9668C9.62145 16.2697 11.2418 15.805 12.1678 16.6183C12.8622 17.1992 12.8622 18.2449 12.8622 18.4773V27.54C12.8622 29.5152 14.4826 31.0256 16.4503 31.0256C18.5336 31.0256 20.0383 29.5152 20.0383 27.54V19.1744C20.154 18.8259 20.2698 17.7802 21.1957 16.9668C22.1217 16.2697 23.6263 15.805 24.5522 16.6183C25.3624 17.1992 25.3624 18.2449 25.3624 18.4773V27.54C25.3624 29.5152 26.9828 31.0256 28.9505 31.0256C30.9181 31.0256 32.5385 29.5152 32.5385 27.54V15.4564C32.5385 14.9916 32.5385 12.9003 31.0338 11.3898C29.8764 10.2279 28.4875 9.99554 28.0245 9.87936Z"
                      fill="#3782E9"/>
                <path d="M40.9876 21.6144C39.5987 20.4526 39.1357 18.4774 39.8302 16.9669C40.7561 15.2241 43.071 14.4108 45.0386 15.2241C45.3858 15.3403 45.5016 15.6888 45.2701 15.9212C44.1127 17.7802 42.9552 19.6392 41.7978 21.4983C41.6821 21.8468 41.2191 21.8468 40.9876 21.6144ZM51.4044 24.7515V24.6353C51.173 24.5192 50.8257 24.403 50.5942 24.2868C49.7841 23.822 48.8581 23.822 48.0479 24.403C47.5849 24.7515 47.0062 24.9839 46.3118 24.9839C45.8488 24.8677 45.3858 24.7515 45.1543 24.5192C47.122 21.4983 49.2053 18.3612 51.173 15.3403C51.9832 14.0622 51.6359 12.5517 50.3628 11.7384C48.6266 10.5765 46.7747 9.9956 45.2701 9.9956C43.534 9.9956 39.2515 9.87941 36.2422 13.2489C33.4643 16.5022 33.9273 20.3364 34.0431 21.1497C34.506 25.3325 37.2839 27.7724 38.3255 28.5858C39.2515 29.2829 42.2608 31.4905 46.3118 31.0257C48.7424 30.7933 50.5942 29.7476 51.9832 28.5858C53.2563 27.4239 53.0248 25.4487 51.4044 24.7515Z"
                      fill="#3782E9"/>
                <path d="M140.874 25.2167C138.327 25.2167 136.244 23.1253 136.244 20.5692C136.244 18.013 138.327 15.9216 140.874 15.9216C143.304 15.9216 145.388 18.013 145.388 20.5692C145.388 23.1253 143.304 25.2167 140.874 25.2167ZM140.874 9.64746C134.855 9.64746 130.109 14.5274 130.109 20.5692C130.109 26.611 134.971 31.4909 140.874 31.4909C146.776 31.4909 151.522 26.611 151.522 20.5692C151.522 14.5274 146.776 9.64746 140.874 9.64746Z"
                      fill="#3782E9"/>
                <path d="M124.67 9.64746C122.702 9.64746 121.082 11.1579 121.082 13.1331V27.1919C121.082 29.1671 122.702 30.7938 124.67 30.7938C126.637 30.7938 128.258 29.1671 128.258 27.1919V13.1331C128.258 11.1579 126.637 9.64746 124.67 9.64746Z"
                      fill="#3782E9"/>
                <path d="M105.688 9.64724C102.331 9.0663 99.0905 11.5063 97.4701 13.1329C97.2386 12.5519 96.8914 11.7386 96.197 11.1577C95.1553 9.9958 93.7664 9.76343 93.1877 9.64724C90.0626 9.0663 87.0533 11.2739 85.3172 12.9005C84.9699 11.2739 83.4653 9.9958 81.7291 9.9958C79.7615 9.9958 78.1411 11.6224 78.1411 13.5976V27.3079C78.1411 29.1669 79.7615 30.7935 81.7291 30.7935C83.6968 30.7935 85.3172 29.1669 85.3172 27.3079V18.9423C85.3172 18.5937 85.4329 17.5481 86.4746 16.7347C87.2848 16.0376 88.9052 15.5728 89.8311 16.3862C90.6413 16.9671 90.6413 17.8966 90.6413 18.2452V27.3079C90.6413 29.1669 92.146 30.7935 94.1136 30.7935C96.197 30.7935 97.7016 29.1669 97.7016 27.3079V18.9423C97.8174 18.5937 97.9331 17.5481 98.859 16.7347C99.785 16.0376 101.29 15.5728 102.331 16.3862C103.026 16.9671 103.026 17.8966 103.026 18.2452V27.3079C103.026 29.1669 104.646 30.7935 106.614 30.7935C108.581 30.7935 110.202 29.1669 110.202 27.3079V15.2243C110.202 14.6433 110.202 12.6681 108.697 11.1577C107.54 9.9958 106.151 9.76343 105.688 9.64724Z"
                      fill="#3782E9"/>
                <path d="M115.642 30.9098C117.609 30.9098 119.23 29.2831 119.23 27.3079C119.23 25.4489 117.609 23.8223 115.642 23.8223C113.674 23.8223 112.054 25.4489 112.054 27.3079C112.054 29.2831 113.674 30.9098 115.642 30.9098Z"
                      fill="#3782E9"/>
                <path d="M124.67 7.55576C126.637 7.55576 128.258 5.92912 128.258 3.95391C128.258 2.0949 126.637 0.468262 124.67 0.468262C122.702 0.468262 121.082 2.0949 121.082 3.95391C121.082 5.92912 122.702 7.55576 124.67 7.55576Z"
                      fill="#3782E9"/>
            </svg></p>
        <form action="/dashboard/index" method="get">
            <div class="form">
                <input type="text" placeholder="Логин" name="login">
                <input type="text" placeholder="Пароль" name="password">
                <input type="submit" class="button login">
            </div>
        </form>
    </div>
</div>
</body>
</html>